################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Pyvvo/v16/Server/sqlite3/storage.ide-wal
/.vs/Pyvvo/v16/Server/sqlite3/storage.ide-shm
/.ionide
.fake