<div class="header-container">
  <a [routerLink]="['/app']"> <img src="assets/logo/pyvvo_logo.png" width="30" />
  <span class="app-title text-primary"><b> YVVO LOGISTICS</b></span></a>
</div>

<div class="header-container">
  <nb-actions size="small">

    <nb-action class="control-item">
      <nb-user name="John Doe"
               title=""
               [nbContextMenu]="items"
               nbContextMenuTag="my-context-menu"
               showTitle=false>
      </nb-user>
    </nb-action>

  </nb-actions>
</div>
