@import '../../../@theme/styles/themes.scss';

@include nb-install-component() {

  .details {
    margin-top: 30px;
  }

  nb-card {
    margin-top: 12px;

    table {
      margin-top: 30px;
      color: nb-theme(table-text-color) !important;

      th {
        vertical-align: middle;
      }

      td {
        vertical-align: middle;

        a {
          text-decoration: none;
          font-size: 15px;
          font-weight: 700;
        }
      }
    }
  }
}
