<ng-container *ngIf="refunds">
  
  
  <div class="container-fluid">
    
    
    <!--*** row ***-->
    <div class="row page-title">
      <h5 class="col-lg-10 col-md-10 col-sm-12">Refunds</h5>
      <div class="col-lg-2 col-md-2 col-sm-12">
        <a class="float-right" [routerLink]="['/app/refund/create']" nbButton status="primary" size="small">
          <nb-icon icon="plus"></nb-icon>
        </a>
      </div>
    </div>
    
    <!--*** row ***-->
    <nb-card [nbSpinner]="loading" nbSpinnerStatus="primary" nbSpinnerSize="large" nbSpinnerMessage="" class="row">
      
      <nb-card-body class="full-width">
        <p class="text-success" *ngIf="successMessage">{{successMessage}}</p>
        <p class="text-danger" *ngIf="errorMessage">{{errorMessage}}</p>
          <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Reference number</th>
                <th scope="col">Order</th>
                <th scope="col">Order total price</th>
                <th scope="col">Total product refunded</th>
                <th scope="col">Date</th>
                <th scope="col">Total price refunded</th>
                <th scope="col">Status</th>
                <th></th>
              </tr>
            </thead>
            <tbody *ngIf="refunds">
              <tr *ngFor="let refund of refunds">
                <td><a [routerLink]="['/app/refund', refund.id]"><b>{{refund.referenceNumber}}</b></a></td>
                <td>
                  <a [routerLink]="['/app/order', refund.order.id]">
                    <b>{{refund.order.referenceNumber}}</b>
                  </a>
                </td>
                <td>
                  <b>{{refund.order.totalPrice}} {{refund.order.currency.currencySymbol}}</b>
                </td>
                <td>{{refund.refundLineItems.length}}</td>
                <td>{{refund.refundedOn}}</td>
                <td><b>{{refund.totalPrice}} {{refund.order.currency.currencySymbol}}</b></td>
                <td><span class="badge badge-primary">{{refund.status.name}}</span></td>
                <td>
                  <a [routerLink]="['/app/refund/update',refund.id]" nbButton ghost status="warning">
                    <nb-icon icon="edit"></nb-icon>
                  </a>
                  <button nbButton ghost status="danger" (click)="deleteRefund(refund.id)">
                    <nb-icon icon="trash-2"></nb-icon>
                  </button>
                </td>
              </tr>
            </tbody>
            
          </table>
        <p *ngIf="message">{{message}}</p>
      </nb-card-body>
    </nb-card>
  </div>
  
</ng-container>
